.formulaire {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.textForm {
    text-align: left;
}

#email,
#message {
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;
    background: #111;
    border: solid 2px #222;
}

#message {
    color: white;
}

.formulaire button {
    width: 100px;
    background: #c6520b;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all ease 0.5s;
}

.formulaire button:hover {
    opacity: 0.6;
}