.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;

  background: #1b1b1b;
  color: white;

  height: 30px;
  width: 100%;
  font-size: 12px;
  opacity: 0.6;
  letter-spacing: 1px;
}
