body {
  background: #111;
}

.imageSlide {
  max-height: 600px;
  height: auto;
  object-fit: contain;
  object-position: top;
}

.slideItem {
  padding: 20px 10px;
  position: relative;
}

.slideItem p {
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.slideItem h3 {
  text-shadow: 2px 2px 4px #000000;
}

.slideBlurGW2 {
  background-image: url("../Pictures/guildwars2.jpg");
  filter: blur(12px);
  background-size: 120%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slideBlurCS {
  background-image: url("../Pictures/csgo.jpg");
  filter: blur(12px);
  background-size: 120%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slideBlurBF {
  background-image: url("../Pictures/battlefield5.jpg");
  filter: blur(12px);
  background-size: 120%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slideBlurApex {
  background-image: url("../Pictures/apex.jpg");
  filter: blur(12px);
  background-size: 120%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slideBlurbf2042 {
  background-image: url("../Pictures/battlefield2042.jpg");
  filter: blur(12px);
  background-size: 120%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}