a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.moduleGuild a {
  padding: 0;
  margin: 0;
}

.guildName {
  font-size: 15px;
}

.imageGuild {
  max-height: 68px;
}

.dividerGuild {
  margin-bottom: 20px;
}

.middleDivider {
  border-right: 1px solid grey;
  height: 50px;
  padding: 0;
}

.txtTeam {
  font-size: 18px;
}

.imageTeam img {
  max-height: 80px;

  border-radius: 10px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

@media only screen and (max-width: 1199px) {
  .imageGuild {
    max-height: 60px;
  }
}

@media only screen and (max-width: 991px) {
  .imageGuild {
    max-height: 68px;
  }
}

@media only screen and (max-width: 767px) {
  .moduleGuild a:nth-child(even) .row {
    flex-direction: column-reverse;
  }

  .middleDivider {
    display: none;
  }
}

.cardGuild {
  margin: 25px 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 25px 0;
  border: solid 1px rgba(0, 0, 0, .5);

  box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
}

.nameGuild {
  margin-bottom: 10px;
}

.guildHeader p {
  font-size: 18px;
}

.leadersGuild p {
  margin: 0;
  padding: 0;
}

.GMsGuild,
.offiGuild {
  margin-bottom: 15px;
}