.form-group {
    max-width: 60%;
    margin: 0 auto;
}

.logTable {
    color: white;
    margin-top: 20px;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
}

.bossLog {
    background: #222;
    padding: 10px;
    box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    border-radius: 15px;
    margin: 10px auto;
    max-width: 80%;
}

.bossLog a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-decoration: none;
}

.bossLog a:hover .bossLinkLog {
    text-decoration: underline;
}

.bossLog p {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 0 20px;
    margin: 0;
}

.bossNameLog {
    text-align: right;
    color: #c6520b;
    font-size: 20px;
}

.bossLinkLog {
    text-align: left;
}

.dividerLog {
    margin: 20px auto;
    height: 1px;
    background: transparent;
    width: 25%;
    box-shadow: 0px 0px 4px 0px rgb(255, 255, 225) inset;
    -webkit-box-shadow: 0px 0px 4px 0px rgb(255, 255, 255) inset;
    -moz-box-shadow: 0px 0px 4px 0px rgb(255, 255, 255) inset;
}

@media only screen and (max-width: 507px) {

    .bossNameLog,
    .bossLinkLog {
        text-align: center;
    }
}