.tab {
  margin-top: 30px;
}
.imageModule {
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.49);
  border: 1px solid black;
}
.description {
  background: rgba(0, 0, 0, 75%);
  border-radius: 10px;
  padding: 20px 20px;
  color: white;
}
.description h3 {
  margin-bottom: 20px;
}
.description p {
  margin: 0;
}

.divider {
  margin-top: 30px;
  height: 2px;
  background: transparent;
  width: 100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.51) inset;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.51) inset;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.51) inset;
}

@media only screen and (max-width: 991px) {
  .globalModule:nth-child(even) .module {
    flex-direction: column-reverse;
  }
}
