@import "../fonts/fonts.css";

.pageHeader {
    color: white;
    margin-bottom: 30px;
}

.projectList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projectContainer {
    margin: 10px 50px;
    padding-bottom: 7px;
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, .5);

    box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
}

.imgContainer {
    position: relative;
}

.imgContainer img {
    width: 398px;
    height: 225px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.nameProject {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-size: 25px;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}

.projectContainer p {
    margin: 0;
}

.websiteLink {
    margin: 0;
    padding: 10px 10px 0 10px;
    text-align: end;
    font-size: 16px;
}

.technologiesProject {
    margin-top: 10px;
    padding: 0 5px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.technologiesProject :nth-child(n) {
    margin: 0 5px 5px 5px;
    font-size: 13px;
    border-radius: 5px;
}

.htmlContainer {
    background: orangered;
}

.cssContainer {
    background: darkblue;
}

.scssContainer{
    background: #f8a5c2;
}

.javascriptContainer{
    background: #f0db4f;
}

.bootstrapContainer {
    background: #7952b3;
}

.reactContainer {
    background: #61dafb;

}

.jqueryContainer {
    background: #b3d4fc;
    color: black;
}

.vuejsContainer {
    background: brown;

}

#contact {
    margin-top: 50px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, .5);

    box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    color: white;
}

#contact p {
    font-family: 'Gentium Book Basic', serif;
}