.bossTable {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
}

.wing {
    margin: 10px 0;
    color: white;
    border-radius: 5px;
}

.boss {
    margin: 10px 0;
    border-radius: 5px;
    height: 100px;
    position: relative;

    border: solid 4px #CC5858;
}

.imageBoss {
    height: 100%;
    width: 100%;
}

.nameBoss {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 25px;
    text-shadow: 2px 2px 8px black;
    width: 100%;
}

.boss.checked {
    border: solid 4px #35EB5F;
}

.wing {
    position: relative;
}

.pageHeader {
    position: relative;
}

.wing.checked>.imageCheck,
.pageHeader.checked>.imageClear {
    display: block;
}

.imageCheck {
    display: none;
    position: absolute;
    height: 25px;
    top: 1%;
    right: 25%;
}

.imageClear {
    display: none;
    position: absolute;
    height: 35px;
    top: 1%;
    right: 23%;
}

.checkBoss,
.uncheckBoss {
    position: absolute;
    height: 50px;
    top: 0;
    right: 0;
}

.checkBoss {
    display: none;
}

.uncheckBoss {
    display: block;
}

.boss.checked .checkBoss {
    display: block;
}

.boss.checked .uncheckBoss {
    display: none;
}

.apiForm {

    margin-bottom: 20px;
}

.apiForm label {
    display: inline-block;
    color: white;
    font-size: 20px;
}

.apiForm input {
    max-width: 500px;
    margin: auto;
}

.buttonAPI {
    margin-top: 10px;
    background-color: #c6520b;
    border-color: #c6520b;
}

.buttonAPI:hover {
    background-color: rgba(198, 82, 11, 0.3);
    border-color: rgba(198, 82, 11, 0.3);

}

.nameAccount {
    color: white;
    margin: 30px 0;
}