.bossR {
    height: 126px;
    border: solid 3px #c6520b;

    margin: 10px 0;
    border-radius: 5px;
    position: relative;

}


.imageBossR {
    height: 100%;
    width: 100%;
    max-height: 100px;
}

.record {
    background: rgb(37, 37, 37);
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    z-index: -1;
    border-radius: 0 0 3px 3px;
}

.record p,
.record a {
    margin: 0;
    padding: 0;
}

.record a {
    font-family: 'Gentium Book Basic', serif;
    color: #c6520b;
}

.time,
.log,
.date {
    color: white;
    text-shadow: 2px 2px 8px black;
}

.date {
    position: absolute;
    left: 5px;
    font-size: 14px;
}

.time {
    position: absolute;
    right: 46%;
}

.log {
    position: absolute;
    right: 5px;
}

.imageLogoL,
.imageLogoR {
    position: absolute;
    top: -10px;
}

.imageLogoL {
    left: 10%;
}

.imageLogoR {
    right: 10%;
}

.languages {
    position: fixed;
    top: 56px;
    right: 0;
}

.languages .flag {
    height: 20px;
    margin-right: 10px;
}

.languages .flag:hover {
    cursor: pointer;
}

@media only screen and (max-width: 991px) {

    .imageLogoR,
    .imageLogoL {
        display: none;
    }

    .languages .flag {
        height: 15px;
        margin-right: 10px;
    }
}