@import url("../fonts/fonts.css");

:root {
    --nbtea: 10;
}

.header {
    width: 100%;
    height: 500px;
    background-image: url("../Pictures/autres/header_tea.jpeg");
    background-size: cover;
    background-position: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title {
    color: white;
    margin: 0;
    font-size: 72px;
    font-family: "Playfair Display";
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.filter {
    display: flex;
    color: white;
    padding: 0 5px;
    flex-wrap: wrap;
}

.filter__card {
    font-size: 18px;
    max-height: 37px;
    margin-right: 5%;
    margin-bottom: 15px;
    padding: 5px;
    background: white;
    color: #CC5858;
    border-radius: 10px;

    box-shadow: 5px 5px 9px -2px rgba(0, 0, 0, 0.86);
}

.card__text {
    margin: 0 8px 0 0;
    font-weight: 600;
}

.card__input {
    accent-color: #CC5858;
}

.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}

@keyframes appear {
    0% {
        transform: translateY(+50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.table__card {
    border-radius: 10px;
    width: 300px;

    box-shadow: 5px 5px 9px -2px rgba(0, 0, 0, 0.86);

    cursor: pointer;

    margin-top: 20px;

    animation: appear .5s both;
}

.table__card__image {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    padding-top: 10px;
    background: white;
    object-fit: contain;
}

.table__card__description {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;

}

.table__card__description__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table__card__description p {
    margin: 0;
    color: white;
    transition: all .3s ease;
}

.table__card:hover p {
    color: #CC5858;
}

.table .filler {
    width: 300px;
}