.csgoContent {
  margin-top: 30px;
  padding: 0 20px;
}

.csgoContent div[class^="col"] {
  margin-bottom: 20px;
}

.csgoTable {
  background: rgba(0, 0, 0, 0.7);
  border: solid rgba(0, 0, 0, 0.7) 1px;
  height: 100%;
  padding: 10px 30px;

  border-radius: 15px;
}

.csgoTable:hover {
  background: rgba(0, 0, 0, 0.2);
  border: solid black 1px;
}

.txtRank {
  font-size: 18px;
  margin-bottom: 5px;
}

.imgRank img {
  width: 100%;
  max-width: 200px;
}

.csgoDivider {
  margin: 20px 33%;
  height: 1px;
  background: white;
  width: 33%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.51) inset;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.51) inset;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.51) inset;
}

.apexTable {
  background: rgba(0, 0, 0, 0.7);
  border: solid rgba(0, 0, 0, 0.7) 2px;
  height: 100%;
  padding: 10px 0;

  border-radius: 15px;
}

.apexTable:hover {
  background: rgba(0, 0, 0, 0.2);
  border: solid black 2px;
}

.apexTable img {
  max-height: 121px;
}

.bfCard {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-radius: 15px;
}

.bfCard a {
  display: inherit;
  text-decoration: none;
}

.bfCard:hover {
  background: rgba(255, 255, 255, 0.1);
}

.bfContent {
  text-align: start;
}

.bf5 {
  color: #78b5e2;
}

.bf1 {
  color: #f17f1a;
}

.bf2042 {
  color: green;
}

.bfTitle {
  font-size: 15px;
  font-weight: bold;
}

.bfScore {
  font-size: 20px;
  font-weight: bold;
}

.bfRatio {
  font-size: 11px;
}

.progressbf1,
.progressbf5,
.progressbf2042 {
  height: 65px;
  width: 5px;
  background: #495166;
  position: relative;
  margin-right: 5px;
}

.progressbf1 .active {
  background: #f17f1a;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.progressbf5 .active {
  background: #2c63be;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.progressbf2042 .active {
  background: green;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.logobf {
  width: 70px;
  object-fit: contain;
}

.logobf1 {
  width: 50px;
  object-fit: contain;
  margin-right: 10px;
}