.playerTwitch {
  display: inline-flex;

  border: solid 1px rgba(0, 0, 0, .5);

  box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 15px 13px 9px -8px rgba(0, 0, 0, 0.41);
}

@media only screen and (max-width: 992px) {
  .stream {
    display: none;
  }
}