 @import "./fonts/fonts.css";

 .App {
   text-align: center;
   position: relative;
   min-height: 100vh;
 }

 .App-logo {
   height: 40vmin;
   pointer-events: none;
 }

 @media (prefers-reduced-motion: no-preference) {
   .App-logo {
     animation: App-logo-spin infinite 20s linear;
   }
 }

 .App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
 }

 .dropdown>a,
 .nav-link {
   color: white !important;
 }

 .dropdown>a:hover,
 .nav-link:hover,
 .nav-link>a:hover {
   color: #c6520b !important;
 }

 .nav-link a,
 .navbar-brand a {
   text-decoration: none;
 }

 .dropdown-item a {
   color: black !important;
 }

 .dropdown-item:hover {
   background-color: #c6520b;
   color: white;
 }

 .App-link {
   color: #61dafb;
 }

 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 .logo {
   width: 30px;
   height: 30px;
   margin-right: 15px;
   background-size: contain;
   background-image: url("./Pictures/logo.png");
 }

 .page {
   padding-top: 56px;
   padding-bottom: 30px;
   height: 100%;
 }

 .backgroundContent {
   background: url("./Pictures/dark_geometric_@2X.png");
   background-repeat: repeat;
   min-height: 900px;
 }

 .guildContainer {
   color: white;
 }

 .loadingPage {
   position: relative;
   height: 100vh;
   background: url("./Pictures/dark_geometric_@2X.png");
   background-repeat: repeat;

 }

 .loadingBox {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 h1,
 h2,
 h3 {
   font-family: 'Rokkitt', serif;
 }

 p {
   font-family: 'Gentium Book Basic', serif;
 }